.playlist-track {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.playlist-track div {
    width: 100%;
}

.playlist-track button {
    height: 3rem;
}

.track {
    background-color: hsl(160, 50%, 80%);
    color: hsl(160, 50%, 20%)
}