div.search-result {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items:center;
    margin: 0.5rem auto
}

.search-result div {
    width: 100%;
}

.search-result button {
    height: 3rem;
}