#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


div#header{
  background-color: hsl(170, 80%, 10%);
  border: 0.25rem ridge hsl(150, 80%, 5%);
  border-radius: 1rem;
  height: 3.5rem;
  margin: auto;
  margin-bottom: 1rem;
  font-size: x-large;
  padding: 1rem;
  width: 75%;
}

#header h1 {
  margin: 0;
}
div#root-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center
}

div#main-container {
  display: flex;
  flex-direction: row;
  width: 90vw
}

div#left-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: 1rem 2rem;
  width: 40vw
}

div#right-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: 1rem 2rem;
  width: 40vw
}

div#search-box {
  padding: 1rem;
  background-color: hsl(120, 50%, 30%);
  width: 100%;
  border-radius: 1rem;
}

div#search-results {
  padding: 1rem;
  background-color: hsl(140, 50%, 30%);
  width: 100%;
  border-radius: 1rem;
  margin: 2rem 
}

div#playlist {
  padding: 1rem;
  background-color: hsl(160, 50%, 30%);
  width: 100%;
  border-radius: 1rem;
}

.add-btn {
  font-weight: 900;
}

.remove-btn {
  font-weight: 900;
}

.search-result, .playlist-track {
  background-color: hsl(150, 60%, 20%);
  border-radius: 1rem;
  border: 0.25rem ridge hsl(150, 80%, 5%)
}

#track-list, #populated-results {
  background-color: hsl(150, 60%, 15%);
  border-radius: 1rem;
}

@media only screen and (max-width: 770px) {
    
  div#root-container {
    width: 75vw;
  }

  div#main-container {
      flex-direction: column;
      width: 100%;
      margin: 1rem auto;
  }

  div#left-container {
      width: 100%;
      margin: 0 auto;
  }

  div#right-container {
      width: 100%;
      margin: 0 auto;
  }

}

@media only screen and (max-width: 376px) {
  div#header{
    height: auto;
  }
}