#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


div#main-container {
  display: flex;
  flex-direction: row;
  width: 90vw;
}

div#left-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: 1rem 2rem;
  width: 40vw
}

div#right-container {
  margin: 1rem 2rem;
  width: 40vw
}

div#search-box {
  padding: 1rem;
  background-color: hsl(120, 50%, 30%);
  width: 100%;
  border-radius: 1rem;
}

div#search-results {
  padding: 1rem;
  background-color: hsl(140, 50%, 30%);
  width: 100%;
  border-radius: 1rem;
  margin: 2rem 
}

div#playlist {
  padding: 1rem;
  background-color: hsl(160, 50%, 50%);
  width: 100%;
  border-radius: 1rem;
}

