#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  position: relative;
  top: -10rem;
}

div#left-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

div#search-box {
  position: absolute;
  left: 12rem;
  top: 5rem;
  padding: 1rem;
  background-color: hsl(120, 50%, 30%);
}

div#search-results {
  position: relative;
  top: 2rem;
  left: -17.5rem;
  padding: 1rem;
  background-color: hsl(140, 50%, 30%);
}

div#playlist {
  position: absolute;
  right: 12rem;
  top: 5rem;
  padding: 1rem;
  background-color: hsl(160, 50%, 50%);
}

